@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/assets/fonts/SuisseIntl/03d5b20d124cd26dc873bd4a8e42313e.woff2') format('woff2'),
    url('../public/assets/fonts/SuisseIntl/03d5b20d124cd26dc873bd4a8e42313e.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/assets/fonts/SuisseIntl/88f10bf18a36407ef36bf30bc25a3618.woff2') format('woff2'),
    url('../public/assets/fonts/SuisseIntl/88f10bf18a36407ef36bf30bc25a3618.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/assets/fonts/SuisseIntl/c446362802681bacaacbad0f39bfc1a5.woff2') format('woff2'),
    url('../public/assets/fonts/SuisseIntl/c446362802681bacaacbad0f39bfc1a5.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/assets/fonts/SuisseIntl/653d9381828e9577fb1e417dc047f89d.woff2') format('woff2'),
    url('../public/assets/fonts/SuisseIntl/653d9381828e9577fb1e417dc047f89d.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/assets/fonts/SuisseIntl/d1a580023d40c546276decde1c711e60.woff2') format('woff2'),
    url('../public/assets/fonts/SuisseIntl/d1a580023d40c546276decde1c711e60.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../public/assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../public/assets/fonts/Roboto/Roboto-Medium.woff') format('woff2');
  font-weight: 600;
  font-style: normal;
}

:root {
  --font-suisse: 'SuisseIntl', "sans-serif";
  --font-roboto: 'Roboto', "sans-serif";
  --font-sans: var(--font-suisse);
  --font-mono: var(--font-suisse);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #E11F27;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #1e1e1e;
  --secondary-foreground: oklch(0.205 0 0);
  --light-gray: #e4e5e4;
  --exlight-gray: #f4f4f4;
  --off-white: #e4e5e4;
  --tm-gray: #7f7f7f;

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --cmn-letter-spacing: 0.5px;
  --section-gap: clamp(60px, 8.5vw + 0.05rem, 140px);
  --section-gap-sm: clamp(40px, 7vw + 1rem, 118px);

  --text-20: clamp(0.9rem, 1rem + 0.25vw, 20px);
  /* ~20px */
  --text-24: clamp(1rem, 0.75rem + 1.5vw, 24px);
  /* ~24px */
  --text-32: clamp(1.8rem, 1.5rem + 0.5vw, 32px);
  /* ~32px */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-suisse);
  --font-suisse: var(--font-suisse);
  --font-roboto: var(--font-roboto);

  --text-5xl: clamp(2.5rem, 5vw, 96px);
  --text-2xl: clamp(2.5rem, 5vw, 3.75rem);
  --text-xl: clamp(2rem, 4.5vw, 3.4375rem);
  --text-lg: clamp(1.5rem, 3vw, 1.875rem);
  --text-sm: clamp(0.9rem, 2vw, 1rem);
  --text-xs: clamp(0.875rem, 1.8vw, 10px);

  --text-10: clamp(0.6rem, 0.55rem + 0.15vw, 0.625rem);
  /* ~10px */
  --text-12: clamp(0.7rem, 0.65rem + 0.15vw, 0.75rem);
  /* ~12px */
  --text-14: clamp(0.825rem, 0.75rem + 0.2vw, 0.875rem);
  /* ~14px */
  --text-15: clamp(0.8rem, 0.9rem + 0.25vw, 15px);
  /* ~15px */
  --text-16: clamp(0.8rem, 0.9rem + 0.25vw, 16px);
  /* ~16px */
  --text-18: clamp(0.8rem, 0.9rem + 0.25vw, 18px);
  /* ~18px */
  --text-20: var(--text-20);
  /* ~20px */
  --text-22: clamp(0.95rem, 1.1rem + 0.3vw, 1.375rem);
  /* ~22px */
  --text-24: var(--text-24);
  /* ~24px */
  --text-30: clamp(1.5rem, 1.5rem + 0.45vw, 1.875rem);
  /* ~30px */
  --text-32: var(--text-32);
  /* ~32px */
  --text-48: clamp(2rem, 1.5rem + 2vw, 48px);
  /* ~48px */
  --text-52: clamp(2.5rem, 2rem + 1vw, 3.25rem);
  /* ~52px */
  --text-64: clamp(3rem, 2.5rem + 1.5vw, 4rem);
  /* ~64px */
  --text-96: clamp(2.125rem, 0.3rem + 5vw, 96px);
  /* ~96px */

  /* colors */

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-off-white: var(--off-white);
  --color-light-gray: var(--light-gray);
  --color-exlight-gray: var(--exlight-gray);
  --color-tm-gray: var(--tm-gray);
  /* colors end */



  --tracking-cmn: var(--cmn-letter-spacing);

  --breakpoint-xs: 480px;
  /* 480px  */
  --breakpoint-sm: 40rem;
  /* 640px  */
  --breakpoint-md: 48rem;
  /* 768px  */
  --breakpoint-lg: 64rem;
  /* 1024px */
  --breakpoint-xl: 80rem;
  /* 1280px */
  --breakpoint-2xl: 87.5rem;
  /* 1400px */

  /* --breakpoint-2xl: 101.875rem; */
  --breakpoint-3xl: 100.9375rem;
  /*1615px*/

  /* --container-2xl:100.9375rem;  */
  /* 1615px */

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);
  /*   --container-2xl: 95rem; */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --spacing-140: var(--section-gap);
  --spacing-118: var(--section-gap-sm);
  --spacing-32p: clamp(1.4em, 4vw + 0.5rem, 32px);
  --spacing-30p: clamp(1.1em, 3vw + 0.4rem, 30px)
}

@media (max-width: 1280px) {
  :root {
    --section-gap: clamp(60px, 5vw + 0.05rem, 100px);
    --text-20: clamp(0.9rem, 1rem + 0.25vw, 1.2rem);
    --text-24: clamp(1rem, 0.75rem + 1.5vw, 20px);
    --text-32: clamp(1.3rem, 1.5rem + 0.5vw, 25px);
  }

}

.container {
  @apply px-[15px] mx-auto;

}

.pb-150 {
  @apply pb-[50px] lg:pb-[60px] xl:pb-[80px] 2xl:pb-[150px];
}

body {
  font-family: var(--font-suisse);
  font-weight: 300;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* news block style start */

.news-crd__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 220px);
  column-gap: 3.75em;
  row-gap: 3.75em;
}

.news-crd.news-crd__big {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 1em;
}

.news-crd__big {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.news-crd__small {
  display: grid;
  grid-template-columns: minmax(350px, 1fr) 2fr;
  gap: 1em;
}

.news-crd__small:nth-child(1) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.news-crd__small:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}


.news__category li {
  position: relative;
}

.news__category li::after {
  position: absolute;
  top: 0;
  right: -5px;
  content: ",";
}

.news__category li:last-child::after {
  display: none;
}

@media (max-width: 1600px) {
  .news-crd__wrapper {
    grid-template-rows: repeat(2, 250px);
    column-gap: 2em;
  }
}

@media (max-width: 1400px) {
  .news-crd__wrapper {
    grid-template-rows: repeat(2, 200px);
    column-gap: 2em;
  }

  .news-crd__small {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 768px) {
  .news-crd__wrapper {
    display: flex;
    flex-direction: column;
  }

  .news-crd__big {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    /* min-height: 500px; */
  }

  .news-crd.news-crd__big {
    grid-template-rows: auto !important;
  }

  .news-crd__small {
    display: flex;
    flex-direction: column;
  }

  .news-crd__small .news-crd__head img {
    max-height: 250px;
  }

  .news-crd__wrapper {
    grid-template-rows: repeat(2, 200px);
    column-gap: 0.5em;
  }

  .news-crd__small:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
  }

  .news-crd__small:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 4 / 5;
  }
}


/* news block style end */

.hrcd::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.5%, rgba(0, 0, 0, 0.8) 100%);
  transform: translateY(0px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  opacity: 0.9;
}

.hrcd:hover::after {
  opacity: 1;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(225, 31, 39, 0.8);
  background: linear-gradient(180deg, rgba(225, 31, 39, 0) 0.07%, rgba(225, 31, 39, 0.8) 99.85%);

}

.hrcd.hovered-slide::after {
  opacity: 1;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(225, 31, 39, 0.8);
  background: linear-gradient(180deg, rgba(225, 31, 39, 0) 0.07%, rgba(225, 31, 39, 0.8) 99.85%);

}

/* .swiper-slide-active .hrcd.hovered-slide{

} */


@media (min-width: 1500px) {
  .hrcd {
    width: 14.84% !important;
  }

  .hrcd.hovered-slide {
    width: 25.8% !important;
  }

}

@media (max-width:1616px) {
  .hrcd.hovered-slide p {
    min-width: fit-content;
  }
}

.overlbl::after {
  background: linear-gradient(180.06deg, rgba(30, 30, 30, 0.1) 51.88%, #1E1E1E 99.94%);
  content: '';
  position: absolute;
  inset: 0;
  height: 100%;
}

.hovered-opaciy-0 {
  @apply opacity-0;
}

/* From Uiverse.io by david-mohseni */
.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}

.primary-text-stroke {
  -webkit-text-stroke: 1px #E11F27;
}

.short-bnr-gradient {
  background: linear-gradient(to right,
      rgba(30, 30, 30, 0) 0%,
      rgba(30, 30, 30, 0.56) 34%,
      rgba(30, 30, 30, 0.6) 51%,
      rgba(30, 30, 30, 1) 74%,
      rgba(30, 30, 30, 1) 100%);
}

.arrow-list ol,
.arrow-list ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 24px;
}

.arrow-list li {
  position: relative;
  padding-left: 1em;
  margin-bottom: 0.5em;
  @apply text-20 font-normal;
}

.arrow-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3em;
  width: 10px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='17' viewBox='0 0 10 17'%3E%3Cpath fill='black' d='M0 2.796 6.16 8.96 0 15.122 1.878 17 9.916 8.96 1.876.92 0 2.796Z'/%3E%3C/svg%3E");
}

.icon-crd:hover .arrow-list li::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='17' viewBox='0 0 10 17'%3E%3Cpath fill='white' d='M0 2.796 6.16 8.96 0 15.122 1.878 17 9.916 8.96 1.876.92 0 2.796Z'/%3E%3C/svg%3E");
}

.sustainability-content ol,
.sustainability-content ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 24px;
}

.sustainability-content li {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.5em;
  @apply text-white text-24 leading-[1.3];
}

.sustainability-content li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3em;
  width: 18.41px;
  height: 18.41px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.20605 19.2061C8.13202 19.2061 7.1205 19.0384 6.17151 18.7032C5.22252 18.3679 4.35446 17.893 3.56735 17.2785L1.95629 18.8608C1.74531 19.0718 1.4768 19.1773 1.15076 19.1773C0.824709 19.1773 0.556199 19.0718 0.345227 18.8608C0.134255 18.6499 0.028769 18.3813 0.028769 18.0553C0.028769 17.7292 0.134255 17.4607 0.345227 17.2498L1.92752 15.6675C1.31378 14.8811 0.839286 14.0085 0.504032 13.0495C0.168778 12.0905 0.000767171 11.074 0 10C0 7.42998 0.891836 5.25313 2.67551 3.46945C4.45918 1.68578 6.63603 0.793945 9.20605 0.793945H18.4121V10C18.4121 12.57 17.5203 14.7469 15.7366 16.5305C13.9529 18.3142 11.7761 19.2061 9.20605 19.2061ZM9.20605 16.9045C11.124 16.9045 12.7542 16.2333 14.0968 14.8907C15.4393 13.5482 16.1106 11.9179 16.1106 10V3.09546H9.20605C7.28813 3.09546 5.65789 3.76673 4.31534 5.10928C2.97279 6.45183 2.30151 8.08207 2.30151 10C2.30151 10.748 2.41659 11.4626 2.64674 12.1439C2.87689 12.8251 3.19335 13.4434 3.59612 13.9989L9.55128 8.04371C9.76225 7.83274 10.0308 7.72725 10.3568 7.72725C10.6829 7.72725 10.9514 7.83274 11.1623 8.04371C11.3925 8.27386 11.5076 8.54736 11.5076 8.8642C11.5076 9.18104 11.3925 9.45416 11.1623 9.68354L5.20717 15.6387C5.76337 16.0415 6.3821 16.3533 7.06334 16.5743C7.74459 16.7952 8.45883 16.9053 9.20605 16.9045Z' fill='%237DBE3D'/%3E%3C/svg%3E");
}

.facilities-sec ol,
.facilities-sec ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 24px;
  @apply flex flex-col gap-3 mt-10;
}

.facilities-sec li {
  position: relative;
  padding-left: 1em;
  margin-bottom: 0.5em;
  @apply text-white text-20 font-normal leading-[1.3] flex items-center gap-4;
}

.facilities-sec li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3em;
  width: 18.41px;
  height: 18.41px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M9 0C7.21997 0 5.47991 0.527841 3.99987 1.51677C2.51983 2.50571 1.36628 3.91131 0.685088 5.55585C0.00389952 7.20038 -0.17433 9.00998 0.172936 10.7558C0.520203 12.5016 1.37737 14.1053 2.63604 15.364C3.89471 16.6226 5.49836 17.4798 7.24419 17.8271C8.99002 18.1743 10.7996 17.9961 12.4442 17.3149C14.0887 16.6337 15.4943 15.4802 16.4832 14.0001C17.4722 12.5201 18 10.78 18 9C18 6.61305 17.0518 4.32387 15.364 2.63604C13.6761 0.948211 11.387 0 9 0ZM7.71429 12.5936L4.5 9.37928L5.52215 8.35714L7.71429 10.5493L12.4779 5.78571L13.5039 6.80528L7.71429 12.5936Z' fill='%23E11F27'/%3E%3Cpath d='M7.71429 12.5936L4.5 9.37928L5.52215 8.35714L7.71429 10.5493L12.4779 5.78571L13.5039 6.80528L7.71429 12.5936Z' fill='white'/%3E%3C/svg%3E");
}

.primary-grd-type-two:hover::before {
  height: 120%;
  opacity: 0.8;
}

.primary-grd-type-two::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.7s ease-in-out;
  opacity: 0;
  /* opacity: 0.75; */
  /* Legacy prefixes for older browsers */
background: linear-gradient(180deg, rgba(30, 30, 30, 0.1) 50%, rgba(140, 31, 35, 0.3264) 59%, rgba(219, 31, 39, 0.49) 67%, rgba(221, 31, 39, 0.6586) 83%, rgba(223, 31, 39, 0.8195) 107%, #E11F27 114%);

}

/* .type-two-carousel .swiper-slide-active .primary-grd-type-two:before{
    height: 100%;
}
.type-two-carousel .swiper-slide:not(:hover) .primary-grd-type-two:before{
  height: 0;
} 
.type-two-carousel .swiper-slide.swiper-slide-active:not(:hover) .primary-grd-type-two:before{
  height: 0;
} 
.type-two-carousel .swiper-slide.swiper-slide-active:not(:hover) .primary-grd-type-two:before{
  height: 100%;
}  */

.type-two-carousel .swiper-slide-active .primary-grd-type-two::before {
  height:120%;
  opacity: 0.8;
}

.type-two-carousel.is-hovering .swiper-slide-active .primary-grd-type-two::before {
  height: 0;
}

.type-two-carousel .type-two-carousel-desc {
  max-width: 60%;
}

.type-two-carousel .swiper-slide {
  width: 15% !important;
  transition: width 0.7s ease-in-out;
}

.type-two-carousel .swiper-slide-active {
  width: 25% !important;
}

.type-two-carousel .swiper-slide:hover {
  width: 25% !important;
}

.type-two-carousel .swiper-slide:hover .swiper-slide-active {
  width: 18% !important;
}

.type-two-carousel.is-hovering .swiper-slide-active {
  width: 15% !important;
}

.type-two-carousel.is-hovering .swiper-slide:hover {
  width: 25% !important;
}

@media  screen and (max-width:600px) {
  .type-two-carousel .swiper-slide {
    width: 100% !important;
    transition: width 0.7s ease-in-out;
  }

  .type-two-carousel .swiper-slide-active {
    width: 100% !important;
  }


}