@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/assets/fonts/SuisseIntl/03d5b20d124cd26dc873bd4a8e42313e.woff2') format('woff2'),
    url('../public/assets/fonts/SuisseIntl/03d5b20d124cd26dc873bd4a8e42313e.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/assets/fonts/SuisseIntl/88f10bf18a36407ef36bf30bc25a3618.woff2') format('woff2'),
    url('../public/assets/fonts/SuisseIntl/88f10bf18a36407ef36bf30bc25a3618.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/assets/fonts/SuisseIntl/c446362802681bacaacbad0f39bfc1a5.woff2') format('woff2'),
    url('../public/assets/fonts/SuisseIntl/c446362802681bacaacbad0f39bfc1a5.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/assets/fonts/SuisseIntl/653d9381828e9577fb1e417dc047f89d.woff2') format('woff2'),
    url('../public/assets/fonts/SuisseIntl/653d9381828e9577fb1e417dc047f89d.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/assets/fonts/SuisseIntl/d1a580023d40c546276decde1c711e60.woff2') format('woff2'),
    url('../public/assets/fonts/SuisseIntl/d1a580023d40c546276decde1c711e60.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../public/assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../public/assets/fonts/Roboto/Roboto-Medium.woff') format('woff2');
  font-weight: 600;
  font-style: normal;
}

:root {
  --font-suisse: 'SuisseIntl', "sans-serif";
  --font-roboto: 'Roboto', "sans-serif";
  --font-sans: var(--font-suisse);
  --font-mono: var(--font-suisse);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.5702 0.2333 29.233);
  --primary-foreground: oklch(0.985 0 0);
  --secondary:#1e1e1e;
  --secondary-foreground: oklch(0.205 0 0);
  --light-gray: #e4e5e4;
  --exlight-gray: #f4f4f4;
  --off-white: oklch(0.9458 0.0017 142.85);
  --tm-gray:#7f7f7f;

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-suisse);
  --font-suisse: var(--font-suisse);
  --font-roboto: var(--font-roboto);

  --text-5xl: clamp(2.5rem, 5vw, 96px);
  --text-2xl: clamp(2.5rem, 5vw, 3.75rem);
  --text-xl: clamp(2rem, 4.5vw, 3.4375rem);
  --text-lg: clamp(1.5rem, 3vw, 1.875rem);
  --text-sm: clamp(0.9rem, 2vw, 1rem);
  --text-xs: clamp(0.875rem, 1.8vw, 10px);

  --text-10: clamp(0.6rem, 0.55rem + 0.15vw, 0.625rem);
  /* ~10px */
  --text-12: clamp(0.7rem, 0.65rem + 0.15vw, 0.75rem);
  /* ~12px */
  --text-14: clamp(0.825rem, 0.75rem + 0.2vw, 0.875rem);
  /* ~14px */
  --text-18: clamp(1rem, 0.9rem + 0.25vw, 1.125rem);
  /* ~18px */
  --text-20: clamp(1.1rem, 1rem + 0.25vw, 1.25rem);
  /* ~20px */
  --text-22: clamp(1.2rem, 1.1rem + 0.3vw, 1.375rem);
  /* ~22px */
  --text-24: clamp(1.3rem, 1.2rem + 0.35vw, 1.5rem);
  /* ~24px */
  --text-32: clamp(1.8rem, 1.5rem + 0.5vw, 2rem);
  /* ~32px */
  --text-48: clamp(2rem, 1.5rem + 2vw, 48px);
  /* ~48px */
  --text-52: clamp(2.5rem, 2rem + 1vw, 3.25rem);
  /* ~52px */
  --text-64: clamp(3rem, 2.5rem + 1.5vw, 4rem);
  /* ~64px */
  --text-96: clamp(4rem, 3rem + 2vw, 6rem);
  /* ~96px */

  /* colors */

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-off-white: var(--off-white);
  --color-light-gray: var(--light-gray);
  --color-exlight-gray: var(--exlight-gray);
  --color-tm-gray: var(--tm-gray);
  /* colors end */


  --breakpoint-2xl: 101.875rem;

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);
  /*   --container-2xl: 95rem; */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

}

.container {
  @apply px-[15px] mx-auto;
}

.pb-150 {
  @apply pb-[50px] lg:pb-[60px] xl:pb-[80px] 2xl:pb-[150px];
}

body {
  font-family: var(--font-suisse);
  font-weight: 300;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}



/* news block style start */

.news-crd__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 220px);
  column-gap: 5em;
  row-gap: 2.5em;
}

@media (max-width: 1600px) {
  .news-crd__wrapper {
    grid-template-rows: repeat(2, 250px);
    column-gap: 2em;
  }
}

@media (max-width: 1400px) {
  .news-crd__wrapper {
    grid-template-rows: repeat(2, 200px);
    column-gap: 2em;
  }
}

@media (max-width: 768px) {
  .news-crd__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.news-crd__big {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

@media (max-width: 768px) {
  .news-crd__big {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    min-height: 500px;
  }
}

.news-crd__small {
  display: grid;
  grid-template-columns: minmax(350px, 1fr) 2fr;
  gap: 1em;
}

@media (max-width: 1400px) {
  .news-crd__small {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 768px) {
  .news-crd__small {
    display: flex;
    flex-direction: column;
  }

  .news-crd__small .news-crd__head img {
    max-height: 250px;
  }
}

.news-crd__small:nth-child(1) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

@media (max-width: 768px) {
  .news-crd__small:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
  }
}

.news-crd__small:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

@media (max-width: 768px) {
  .news-crd__small:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 4 / 5;
  }
}

.news-crd.news-crd__big {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: end; */
  /* padding: 1em; */
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 1em;
}

.news__category li {
  position: relative;
}

.news__category li::after {
  position: absolute;
  top: 0;
  right: -5px;
  content: ",";
}

.news__category li:last-child::after {
  display: none;
}
.hrcd::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.5%, rgba(0, 0, 0, 0.8) 100%);
  transform: translateY(0px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  opacity: 0.9;
}
.hrcd:hover::after {
  opacity: 1;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(225, 31, 39, 0.8);
  background: linear-gradient(180deg, rgba(225, 31, 39, 0) 0.07%, rgba(225, 31, 39, 0.8) 99.85%);

}

.hrcd.hovered-slide::after {
  opacity: 1;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(225, 31, 39, 0.8);
  background: linear-gradient(180deg, rgba(225, 31, 39, 0) 0.07%, rgba(225, 31, 39, 0.8) 99.85%);

}

@media   (min-width: 1500px) {
.hrcd{width: 15.84% !important;}
.hrcd.hovered-slide{width: 20.8% !important;}
}

/* news block style end */
.overlbl::after{
  background: linear-gradient(180.06deg, rgba(30, 30, 30, 0.1) 51.88%, #1E1E1E 99.94%);
  content: '';
  position: absolute;
  inset: 0;
  height: 100%;}